
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    font-size: 1.1rem;
    z-index: 10;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    color: white; 
    background-color: darkgoldenrod; 
    border-radius: 5px; 
}

.home {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, lavender, lightblue, lightpink, lightyellow);
    background-size: 400% 400%; 
    animation: gradientMove 8s ease infinite;
    z-index: -1;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 100%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.content {
    text-align: center;
    position: relative;
    width: 100%;
}
.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circular-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    animation: pulse 5s infinite ease-in-out;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.circular-image:hover {
    transform: scale(1.1) rotate(10deg);
}


.circular-image:active {
    transform: scale(1.15);
}


@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
}

.live-free-text {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;
    z-index: 10; 
    color: #333; 
}

.live-free-text h1,
.live-free-text h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.intro-paragraph {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.1rem;
    color: #555;
    max-width: 250px;
    z-index: 10; 
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    color: #777;
}
